<div class="all" ng-include src="'views/navbar.html'">
</div>

<div class="row">
  <div class="span12">
    <div class="widget widget-nopad">
      <!-- /widget-header -->
      <div class="widget-content">
        <div id="calendar">
          <div class="widget-content">
            <canvas id="area-chart" class="chart-holder" height="250" width="538"> </canvas>
            <!-- /area-chart -->
          </div>
        </div>
      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->
  </div>
  <!-- /span6 -->
</div>
<!-- /row -->